body { background: #000 ;}
table{border:2px rgb(255, 255, 255);}

h1{
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

a:visited{
   color: rgb(255, 255, 255);

}
a:active{color:#fff700;}
li {
   color:white;
}
ul{color: white;}
h1{ color: white;}
p{color: white;}
#t2{box-shadow: rgb(255, 0, 0) 2px 2px 15px 15px;}
.button {
   background-color: rgb(0, 0, 0);
   text-decoration: none;
   color: rgb(255, 255, 255);
   display: inline-block;
   position: relative;
   padding: 15px 30px;
   border: 1px solid;
   border-image: linear-gradient(180deg, #15ff00, #00edd9, #0974ff, #0055d5);
   border-image-slice: 1;
   margin: 10px 20px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   overflow: hidden;
   letter-spacing: 2px;
   transition: .8s cubic-bezier(.165, .84, .44, 1);
 }
 .button:before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 0;
   width: 100%;
   z-index: -1;
   color: white;
   background: linear-gradient(180deg, #2bff00, #00ed8a, #09f7ff, #0063d5);
   transition: .8s cubic-bezier(.165, .84, .44, 1);
 }
 .button:hover {
   background: rgba(255, 255, 255, 0);
 }
 .button:hover:before {
   bottom: 0%;
   top: auto;
   height: 100%;
 }